# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
build
server/public

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
vite.config.ts.*

# Misc
*.tar.gz
.cache
.local
.upm

# Database
*.db
*.sqlite